h1{
    color: crimson;
}

div{
    background-color: lightpink;
    width: 49%;
    margin: 1px;
    float: left;
    border  : solid black 2px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px grey;
    
}

.parent{
    width: 700px;

}

.child{

    width: 250px; ;
    height: 45px;
    border: solid black 2px;
    margin: auto;
    text-align: center;
    background-color: lightblue;
    font-size: large;
    font-weight: bold;
    color: darkblue;
    padding: 0%;

}
