body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(45deg, #ff7eb3, #65c7f7);
    color: white;
}
 
.example { 
    border: 1px solid #ddd; 
    padding: 1rem; 
    margin: 1rem 0; 
    border-radius: 6px; 
}

label, button { 
    display: block; 
    margin-top: 0.5rem; 
    
}

.result { 
    margin-top: 0.5rem; 
    font-weight: bold; 
}

.example1 {
    background: linear-gradient(45deg, #ffa7d1, #7cc9ff); /*etong kulay lang para sa lahat ng div*/
    padding: 15px;
    border-radius: 30px;
    width: 40%;
    margin: 0 auto;
    margin-top: 2%;
}

.example2{
     background: linear-gradient(45deg, #ffa7d1, #7cc9ff);
     padding: 15px ;
     border-radius: 30px;
     width: 40%;
     margin: 0 auto;
     margin-top: 2%;
}

.example3{
     background: linear-gradient(45deg, #ffa7d1, #7cc9ff);
     padding: 15px;
     border-radius: 30px;
     width: 40%;
     margin: 0 auto;
     margin-top: 2%;
}

.example4 {
    background: linear-gradient(45deg, #ffa7d1, #7cc9ff);
    padding:15px;
    border-radius:30px ;
    width: 40%;
    margin: 0 auto;
    margin-top: 2%;
}